# Desafio Eleflow - Analista de Dados

## Vinícius Alexandre Garcia

In [32]:
import pandas as pd
import numpy as np

### Importando arquivo CSV e inspecionando primeiras 10 linhas

In [33]:
df = pd.read_csv("C:/Projetos/SEMANAL_MUNICIPIOS-2019.csv")
df.head(10)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,MUNICÍPIO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,30/12/2018,5/1/2019,NORTE,PARA,ABAETETUBA,ETANOL HIDRATADO,1,R$/l,"4,650","0,000","4,650","4,650",-,"0,000",-,-,-,-,-
1,30/12/2018,5/1/2019,NORDESTE,MARANHAO,ACAILANDIA,ETANOL HIDRATADO,2,R$/l,"3,524","0,389","3,249","3,799",-,"0,110",-,-,-,-,-
2,30/12/2018,5/1/2019,SUDESTE,SAO PAULO,ADAMANTINA,ETANOL HIDRATADO,8,R$/l,"2,599","0,105","2,450","2,690","0,243","0,040","2,356","0,078","2,269","2,420","0,033"
3,30/12/2018,5/1/2019,CENTRO OESTE,GOIAS,AGUAS LINDAS DE GOIAS,ETANOL HIDRATADO,5,R$/l,"3,031","0,110","2,939","3,199","0,359","0,036","2,672","0,024","2,655","2,689","0,009"
4,30/12/2018,5/1/2019,NORDESTE,BAHIA,ALAGOINHAS,ETANOL HIDRATADO,9,R$/l,"3,220","0,170","2,920","3,320","0,404","0,053","2,816","0,090","2,725","2,904","0,032"
5,30/12/2018,5/1/2019,SUL,RIO GRANDE DO SUL,ALEGRETE,ETANOL HIDRATADO,3,R$/l,"4,140","0,226","3,890","4,330",-,"0,055",-,-,-,-,-
6,30/12/2018,5/1/2019,SUDESTE,MINAS GERAIS,ALFENAS,ETANOL HIDRATADO,7,R$/l,"2,943","0,123","2,759","3,097","0,338","0,042","2,605","0,000","2,605","2,605","0,000"
7,30/12/2018,5/1/2019,CENTRO OESTE,MATO GROSSO,ALTA FLORESTA,ETANOL HIDRATADO,10,R$/l,"3,129","0,018","3,100","3,150","0,592","0,006","2,537","0,000","2,537","2,537","0,000"
8,30/12/2018,5/1/2019,NORTE,PARA,ALTAMIRA,ETANOL HIDRATADO,1,R$/l,"4,099","0,000","4,099","4,099",-,"0,000",-,-,-,-,-
9,30/12/2018,5/1/2019,SUL,RIO GRANDE DO SUL,ALVORADA,ETANOL HIDRATADO,1,R$/l,"3,999","0,000","3,999","3,999",-,"0,000",-,-,-,-,-

# A) Estes valores estão distribuídos em dados semanais, agrupe eles por mês e calcule as médias de valores de cada combustível por cidade.

### Criar coluna datetime para a criação de coluna mês

In [34]:
df["datafinal_dt"] =  pd.to_datetime(df['DATA FINAL'], format='%d/%m/%Y')

In [43]:
df["mês"] = df["datafinal_dt"].dt.month
## Verifica se a criação da coluna mês ocorreu corretamente
df.head(20000)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,MUNICÍPIO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,datafinal_dt,mês
0,30/12/2018,5/1/2019,NORTE,PARA,ABAETETUBA,ETANOL HIDRATADO,1,R$/l,"4,650","0,000",...,"4,650",-,"0,000",-,-,-,-,-,2019-01-05,1
1,30/12/2018,5/1/2019,NORDESTE,MARANHAO,ACAILANDIA,ETANOL HIDRATADO,2,R$/l,"3,524","0,389",...,"3,799",-,"0,110",-,-,-,-,-,2019-01-05,1
2,30/12/2018,5/1/2019,SUDESTE,SAO PAULO,ADAMANTINA,ETANOL HIDRATADO,8,R$/l,"2,599","0,105",...,"2,690","0,243","0,040","2,356","0,078","2,269","2,420","0,033",2019-01-05,1
3,30/12/2018,5/1/2019,CENTRO OESTE,GOIAS,AGUAS LINDAS DE GOIAS,ETANOL HIDRATADO,5,R$/l,"3,031","0,110",...,"3,199","0,359","0,036","2,672","0,024","2,655","2,689","0,009",2019-01-05,1
4,30/12/2018,5/1/2019,NORDESTE,BAHIA,ALAGOINHAS,ETANOL HIDRATADO,9,R$/l,"3,220","0,170",...,"3,320","0,404","0,053","2,816","0,090","2,725","2,904","0,032",2019-01-05,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,24/2/2019,2/3/2019,NORDESTE,PARAIBA,JOAO PESSOA,ÓLEO DIESEL S10,23,R$/l,"3,493","0,113",...,"3,699","0,251","0,032","3,242","0,056","3,110","3,289","0,017",2019-03-02,3
19996,24/2/2019,2/3/2019,SUDESTE,MINAS GERAIS,JOAO PINHEIRO,ÓLEO DIESEL S10,5,R$/l,"3,807","0,114",...,"3,949","0,570","0,030","3,237","0,085","3,135","3,316","0,026",2019-03-02,3
19997,24/2/2019,2/3/2019,SUL,SANTA CATARINA,JOINVILLE,ÓLEO DIESEL S10,15,R$/l,"3,397","0,116",...,"3,599","0,397","0,034","3,000","0,069","2,923","3,081","0,023",2019-03-02,3
19998,24/2/2019,2/3/2019,SUDESTE,SAO PAULO,JOSE BONIFACIO,ÓLEO DIESEL S10,9,R$/l,"3,405","0,116",...,"3,599","0,331","0,034","3,074","0,008","3,068","3,080","0,003",2019-03-02,3
19999,24/2/2019,2/3/2019,NORDESTE,BAHIA,JUAZEIRO,ÓLEO DIESEL S10,7,R$/l,"3,696","0,141",...,"3,789","0,434","0,038","3,262","0,030","3,240","3,305","0,009",2019-03-02,3

In [153]:
# inspeciona os tipos dos dados da database
df.dtypes

DATA INICIAL                             object
DATA FINAL                               object
REGIÃO                                   object
ESTADO                                   object
MUNICÍPIO                                object
PRODUTO                                  object
NÚMERO DE POSTOS PESQUISADOS              int64
UNIDADE DE MEDIDA                        object
PREÇO MÉDIO REVENDA                      object
DESVIO PADRÃO REVENDA                    object
PREÇO MÍNIMO REVENDA                     object
PREÇO MÁXIMO REVENDA                     object
MARGEM MÉDIA REVENDA                     object
COEF DE VARIAÇÃO REVENDA                 object
PREÇO MÉDIO DISTRIBUIÇÃO                 object
DESVIO PADRÃO DISTRIBUIÇÃO               object
PREÇO MÍNIMO DISTRIBUIÇÃO                object
PREÇO MÁXIMO DISTRIBUIÇÃO                object
COEF DE VARIAÇÃO DISTRIBUIÇÃO            object
datafinal_dt                     datetime64[ns]
mês                                       int64
dtype: object

In [182]:
# Torna a coluna de valor em float

df["PREÇO MÉDIO REVENDA"] = df['PREÇO MÉDIO REVENDA'].str.replace(",",".")
df["PREÇO MÉDIO REVENDA"] = df['PREÇO MÉDIO REVENDA'].astype(float)

AttributeError: Can only use .str accessor with string values!

In [183]:
df.dtypes

DATA INICIAL                             object
DATA FINAL                               object
REGIÃO                                   object
ESTADO                                   object
MUNICÍPIO                                object
PRODUTO                                  object
NÚMERO DE POSTOS PESQUISADOS              int64
UNIDADE DE MEDIDA                        object
PREÇO MÉDIO REVENDA                     float64
DESVIO PADRÃO REVENDA                    object
PREÇO MÍNIMO REVENDA                     object
PREÇO MÁXIMO REVENDA                     object
MARGEM MÉDIA REVENDA                     object
COEF DE VARIAÇÃO REVENDA                 object
PREÇO MÉDIO DISTRIBUIÇÃO                 object
DESVIO PADRÃO DISTRIBUIÇÃO               object
PREÇO MÍNIMO DISTRIBUIÇÃO                object
PREÇO MÁXIMO DISTRIBUIÇÃO                object
COEF DE VARIAÇÃO DISTRIBUIÇÃO            object
datafinal_dt                     datetime64[ns]
mês                                       int64
dtype: object

## Agregação e cálculo do preço médio de revenda municipal pelo Pandas
### Modelo de Tabela 1

In [199]:
new_df = pd.pivot_table(df, index=["ESTADO","MUNICÍPIO", "PRODUTO"],columns=["mês"], values=["PREÇO MÉDIO REVENDA"])
new_df

                                           PREÇO MÉDIO REVENDA            \
mês                                                          1         2
ESTADO    MUNICÍPIO       PRODUTO
ACRE      CRUZEIRO DO SUL ETANOL HIDRATADO             4.59175   4.55000
                          GASOLINA COMUM               5.07775   5.06200
                          GLP                         73.75000  76.00000
                          ÓLEO DIESEL                  4.63400   4.61600
                          ÓLEO DIESEL S10              4.66725   4.64400
...                                                        ...       ...
TOCANTINS PORTO NACIONAL  GASOLINA COMUM               4.16525   4.20425
                          GLP                         84.75000  72.45000
                          GNV                              NaN       NaN
                          ÓLEO DIESEL                  3.22800   3.26600
                          ÓLEO DIESEL S10              3.29300   3.30500

                                                                          \
mês                                               3          4         5
ESTADO    MUNICÍPIO       PRODUTO
ACRE      CRUZEIRO DO SUL ETANOL HIDRATADO   4.5568   4.596667   4.39000
                          GASOLINA COMUM     5.1448   5.225000   5.47950
                          GLP               75.2500  76.687500  76.37500
                          ÓLEO DIESEL        4.6654   4.705750   4.81025
                          ÓLEO DIESEL S10    4.7352   4.801750   4.94325
...                                             ...        ...       ...
TOCANTINS PORTO NACIONAL  GASOLINA COMUM     4.2264   4.297250   4.47950
                          GLP               72.3800  73.875000  77.75000
                          GNV                   NaN   3.499000       NaN
                          ÓLEO DIESEL        3.3236   3.366000   3.49600
                          ÓLEO DIESEL S10    3.3630   3.403500   3.50225


mês                                               6         7       8
ESTADO    MUNICÍPIO       PRODUTO
ACRE      CRUZEIRO DO SUL ETANOL HIDRATADO   4.4800   4.45875     NaN
                          GASOLINA COMUM     5.4516   5.19050   5.117
                          GLP               76.1832  76.12500  76.000
                          ÓLEO DIESEL        4.7796   4.64725   4.533
                          ÓLEO DIESEL S10    4.9182   4.77925   4.684
...                                             ...       ...     ...
TOCANTINS PORTO NACIONAL  GASOLINA COMUM     4.5112   4.46775   4.416
                          GLP               81.0000  80.50000  80.500
                          GNV                   NaN       NaN     NaN
                          ÓLEO DIESEL        3.4124   3.41750   3.396
                          ÓLEO DIESEL S10    3.4692   3.49000   3.487

[2444 rows x 8 columns]

### Modelo de tabela 2

In [200]:
new_df_2 = pd.pivot_table(df, index=["mês","ESTADO","MUNICÍPIO", "PRODUTO"], values=["PREÇO MÉDIO REVENDA"])
new_df_2

                                                PREÇO MÉDIO REVENDA
mês ESTADO    MUNICÍPIO       PRODUTO
1   ACRE      CRUZEIRO DO SUL ETANOL HIDRATADO              4.59175
                              GASOLINA COMUM                5.07775
                              GLP                          73.75000
                              ÓLEO DIESEL                   4.63400
                              ÓLEO DIESEL S10               4.66725
...                                                             ...
8   TOCANTINS PORTO NACIONAL  ETANOL HIDRATADO              3.70400
                              GASOLINA COMUM                4.41600
                              GLP                          80.50000
                              ÓLEO DIESEL                   3.39600
                              ÓLEO DIESEL S10               3.48700

[19134 rows x 1 columns]

# B) Calcule a média de valor do combustível por estado e região.

# Estado

## Média de Preço de Revenda todos combustiveis

In [202]:
mean_state = pd.pivot_table(df, index=["ESTADO"], values=["PREÇO MÉDIO REVENDA"])
mean_state

                     PREÇO MÉDIO REVENDA
ESTADO
ACRE                           19.451446
ALAGOAS                        15.369448
AMAPA                          21.807798
AMAZONAS                       20.865638
BAHIA                          15.237952
CEARA                          17.456599
DISTRITO FEDERAL               17.238656
ESPIRITO SANTO                 14.959321
GOIAS                          17.044737
MARANHAO                       18.290907
MATO GROSSO                    22.363808
MATO GROSSO DO SUL             17.521848
MINAS GERAIS                   16.961749
PARA                           20.842024
PARAIBA                        15.816982
PARANA                         16.836568
PERNAMBUCO                     17.882199
PIAUI                          18.079565
RIO DE JANEIRO                 14.632546
RIO GRANDE DO NORTE            15.164489
RIO GRANDE DO SUL              16.456449
RONDONIA                       19.588258
RORAIMA                        19.842497
SANTA CATARINA                 15.705358
SAO PAULO                      15.678676
SERGIPE                        15.672930
TOCANTINS                      18.867390

## Média de preço por estado e produto

In [206]:
mean_state_prod = pd.pivot_table(df, index=["ESTADO", "PRODUTO"], values=["PREÇO MÉDIO REVENDA"])
mean_state_prod

                            PREÇO MÉDIO REVENDA
ESTADO    PRODUTO
ACRE      ETANOL HIDRATADO             4.225475
          GASOLINA COMUM               5.026274
          GLP                         78.160968
          ÓLEO DIESEL                  4.515952
          ÓLEO DIESEL S10              4.591823
...                                         ...
TOCANTINS GASOLINA COMUM               4.546581
          GLP                         79.132974
          GNV                          3.499000
          ÓLEO DIESEL                  3.545284
          ÓLEO DIESEL S10              3.592865

[157 rows x 1 columns]

## Média de Preço por Região

In [208]:
mean_reg = pd.pivot_table(df, index=["REGIÃO"], values=["PREÇO MÉDIO REVENDA"])
mean_reg

              PREÇO MÉDIO REVENDA
REGIÃO
CENTRO OESTE            18.311033
NORDESTE                16.529458
NORTE                   20.286238
SUDESTE                 15.814093
SUL                     16.387769

## Média de Preço por Estado e Produto

In [209]:
mean_reg_prod = pd.pivot_table(df, index=["REGIÃO","PRODUTO"], values=["PREÇO MÉDIO REVENDA"])
mean_reg_prod

                               PREÇO MÉDIO REVENDA
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO             3.040090
             GASOLINA COMUM               4.462736
             GLP                         77.388535
             GNV                          3.000865
             ÓLEO DIESEL                  3.678997
             ÓLEO DIESEL S10              3.787354
NORDESTE     ETANOL HIDRATADO             3.532240
             GASOLINA COMUM               4.509679
             GLP                         67.694347
             GNV                          3.315780
             ÓLEO DIESEL                  3.635207
             ÓLEO DIESEL S10              3.687118
NORTE        ETANOL HIDRATADO             3.911043
             GASOLINA COMUM               4.586833
             GLP                         80.804806
             GNV                          3.244765
             ÓLEO DIESEL                  3.844437
             ÓLEO DIESEL S10              3.934313
SUDESTE      ETANOL HIDRATADO             3.037293
             GASOLINA COMUM               4.455706
             GLP                         67.690368
             GNV                          3.198054
             ÓLEO DIESEL                  3.510812
             ÓLEO DIESEL S10              3.619360
SUL          ETANOL HIDRATADO             3.578704
             GASOLINA COMUM               4.369219
             GLP                         70.459527
             GNV                          3.170549
             ÓLEO DIESEL                  3.422074
             ÓLEO DIESEL S10              3.523655

# C) Calcule a variância e a variação absoluta do máximo, mínimo de cada cidade, mês a mês.

# D) Quais são as 5 cidades que possuem a maior diferença entre o combustível mais barato e o mais caro